body {
  margin: 0;
  background: #FFFD8F;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 4vw;
}
.game {
  text-align: center;
}
button {
  padding: 15px 30px;
  font-size: 4vw;
  background: #B0CE88;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin: 20px;
}
.slot {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}
.slot > div {
  flex: 1 1 30%;
  max-width: 154px;
  min-width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#col1 > div, #col2 > div, #col3 > div, .slot-img {
  width: 154px;
  height: 154px;
  margin: 5px;
  box-shadow: 0 0 10px gray;
  border-radius: 15px;
}
img {
  width: 154px;
}
@media (max-width: 530px) {
    #col1 > div, #col2 > div, #col3 > div, .slot-img {
        width: 77px;
        height: 77px;
        margin: 5px;
        box-shadow: 0 0 10px gray;
        border-radius: 15px;
    }
    img {
        width: 77px;
    }
}